﻿@import url(http://weloveiconfonts.com/api/?family=fontawesome);
/* ---------- ERIC MEYER'S RESET CSS ---------- */
/* ---------- http://meyerweb.com/eric/tools/css/reset/ ---------- */
@import url(http://meyerweb.com/eric/tools/css/reset/reset.css);
/* ---------- FONTAWESOME ---------- */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

table,
  th {
    background-color: black;
    border: 1px solid grey;
    padding: 5px;
    font-family: 'FontAwesome', sans-serif;
    color: lawngreen;
    font-size: 10pt;  
  }
  
  td {
    background-color: darkgoldenrod;
    border: 1px solid grey;
    padding: 5px;
    font-family: 'FontAwesome', sans-serif;
    color: black;
    font-size: 10pt;  
  }
  
  table tr:nth-child(odd) {
    background-color: #f1f1f1;
    font: 'Tahoma';
    font-size: 8pt;
    color: deeppink;
  }
  
  table tr:nth-child(even) {
    background-color: #ffffff;
    font: 'Tahoma';
    font-size: 8pt;
    color: deeppink;
  }
  
  #ridestable tr:hover {
      background-color: #ddd;
  }

  table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after { 
    content: " \25B4\25BE" 
  }
  body {
    
    background: #2c3338;
    color: lawngreen;
    font: 87.5%/1.5em 'Open Sans', sans-serif;
    margin: 0;
  }
  
  input {
  border: none;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5em;
  padding: 0;
  color: black;
  -webkit-appearance: none;
}
  
  h1 {
    color: lawngreen;
    font: 87.5%/1.5em 'Open Sans', sans-serif;
    margin: 0;
  }
  
  h2 {
    color: lawngreen;
    font: 87.5%/1.5em 'Open Sans', sans-serif;
    margin: 0;
  }
  
  p {
    color: lawngreen;
    font: 87.5%/1.5em 'Open Sans', sans-serif;
    margin: 0;
  }
  a {
  color: #eee;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
  button {
    font-size: 11pt;
    color: lawngreen;
    background-color: black;
    font: 'Gill Sans';
    font-size: 11pt;
  }
  
  select {
    font-size: 10pt;
    color: black;
    font: 'Tahoma';
  }
  
#navigation {
position: fixed;
top: 0;
width: 100%;
color: #ffffff;
height: 35px;
text-align: center;
padding-top: 15px;
/* Adds shadow to the bottom of the bar */
-webkit-box-shadow: 0px 0px 8px 0px #000000;
-moz-box-shadow: 0px 0px 8px 0px #000000;
box-shadow: 0px 0px 8px 0px #000000;
/* Adds the transparent background */
background-color: rgba(1, 1, 1, 0.8);
color: rgba(1, 1, 1, 0.8);
}
#navigation a {
font-size: 14px;
padding-left: 15px;
padding-right: 15px;
color: white;
text-decoration: none;
}

#navigation a:hover {
color: grey;
} 
