﻿/* CSS Document */
/* ---------- FONTAWESOME ---------- */
/* ---------- http://fortawesome.github.com/Font-Awesome/ ---------- */
/* ---------- http://weloveiconfonts.com/ ---------- */
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
/* ---------- ERIC MEYER'S RESET CSS ---------- */
/* ---------- http://meyerweb.com/eric/tools/css/reset/ ---------- */
@import url(http://meyerweb.com/eric/tools/css/reset/reset.css);
/* ---------- FONTAWESOME ---------- */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

/* ---------- GENERAL ---------- */
* {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}
*:before, *:after {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

body {
/*  background: #2c3338;
  color: #606468;*/
  font: 87.5%/1.5em 'Open Sans', sans-serif;
  margin: 0;
}

a {
  color: #eee;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

input {
  border-color: #606468;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5em;
  padding: 0;
  -webkit-appearance: none;
}

p {
  line-height: 1.5em;
}

.clearfix {
  *zoom: 1;
}
.clearfix:before, .clearfix:after {
  content: ' ';
  display: table;
}
.clearfix:after {
  clear: both;
}



/* ---------- LOGIN ---------- */
#login {
  width: 280px;
}

#login form span {
/*  background-color: #363b41;
 color: #606468;*/
  display: block;
  float: left;
  height: 28px;
  line-height: 28px;
  text-align: center;
  width: 28px;
}

#login form input {
  height: 28px;
}

#login form input[type="button"] {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-color: #ea4c88;
  color: #eee;
  font-weight: bold;
  margin-bottom: 2em;
  text-transform: uppercase;
  width: 280px;
}

#login form input[type="button"]:hover {
  background-color: #d44179;
}
#login form select, input[type="text"], input[type="tel"], input[type="number"], 
input[type="email"], input[type="password"], input[type="datetime-local"] {
  background-color: #3b4148;
  border-radius: 0px 3px 3px 0px;
  border-color: #d44179;
  color: #606468;
  margin-bottom: 1em;
  padding: 0 16px;
  width: 200px;
}


#login > p {
  text-align: center;
}

#login > p span {
  padding-left: 5px;
}
