﻿ .rating{
  color: #a9a9a9;
  margin: 0;
  padding: 0;
}

ul.rating {
  display: inline-block;
}

.rating li {
  list-style-type: none;
  display: inline-block;
  padding: 1px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

.rating .filled {
  color: darkblue;
}

* { 
	margin: 0; 
	padding: 0; 
}
#page-wrap {
	margin: 50px;
}
p {
	margin: 20px 0; 
}

	