﻿
/* 
	Max width before this PARTICULAR table gets nasty
	This query will take effect for any screen smaller than 760px
	and also iPads specifically.
	*/
	@media 
	only screen and (max-width: 760px),
	(min-device-width: 768px) and (max-device-width: 1024px)  {
	
		/* Force table to not be like tables anymore */
		table, thead, tbody, th, td, tr { 
			display: block; 
		}
		
		/* Hide table headers (but not display: none;, for accessibility) */
		thead tr { 
			position: absolute;
			top: -9999px;
			left: -9999px;
			font-weight: bold;
			white-space: nowrap;
		}
		
		tr { border: 1px solid #ccc; }
		
		td { 
			/* Behave  like a "row" */
			border: 6px;
			border-bottom: 1px solid #eee; 
			position: relative;
			padding-left: 40%;
			width: auto;
			white-space: "nowrap";
		}
		
		td:before { 
			/* Now like a table header */
			position: relative;
			/* Top/left values mimic padding */
      		border: 6px;
			left: 6px;
			width: 40%; 
			padding-right: 10px; 
      		font-weight: bold;
			white-space:"nowrap";
		}
		
		/*
		Label the data
		*/
		td:nth-of-type(1):before { content: "#: "; }
		td:nth-of-type(2):before { content: "City: "; }
		td:nth-of-type(3):before { content: "Name: "; }
		td:nth-of-type(4):before { content: "EMail: "; }
		td:nth-of-type(5):before { content: "Mobile: "; }
        td:nth-of-type(6):before { content: "Vehicle: "; }
		td:nth-of-type(7):before { content: "Start Time: "; }
		td:nth-of-type(8):before { content: "From: "; }
		td:nth-of-type(9):before { content: "To: "; }
		td:nth-of-type(10):before { content: "Via: "; }
		td:nth-of-type(11):before { content: "Filled: ";}
		td:nth-of-type(12):before { content: "Action: "; }
	}
	
	/* Smartphones (portrait and landscape) ----------- */
	@media only screen
	and (min-device-width : 320px)
	and (max-device-width : 480px) {
		body { 
			padding: 0; 
			margin: 0; 
			width: 320px; }
		}
	
	/* iPads (portrait and landscape) ----------- */
	@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
		body { 
			width: 495px; 
		}
	}	
  th {
    background-color: #606468;
    border: 1px solid grey;
    padding: 5px;
    color: lawngreen;
    font-size: 10pt;
  }
  td { 
    background-color: white;
    border: 1px solid black;
    padding: 5px;    
    font-size: 8pt;
    white-space:"nowrap";
  }