<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="css/rating.css">
	<link rel="stylesheet" href="css/responsivetable.css">
</head>

<body>
	<br>
	<h4 align="left"> Select rides you offered and send a push message to people who have accepted ride.
 For example, if you are about to start notify all accepted passengers through Push message or if you will be delayed send a message.
  </h4>
	
	<br>
	<div ng-app="myApp" ng-controller="RidesCtrl">
		<button class="btn btn-primary btn-md" ng-click="GetRides('email',login_email)">GET RIDES I OFFERED</button>
		<br>
		<center/><i ng-show="spinner" class="fa fa-circle-o-notch fa-spin"></i>

		<p>
			<p/>{{found}}
			<br>
			<br>
			<label>Search in Rides:
				<input ng-model="searchText">
			</label>
            <div class="container">
			<table class="table table-bordered" ng-show="allrides">
				<thead>
					<tr>
						<th>#</th>
						<th>City</th>
						<th>Offered By</th>
						<th>EMail</th>
						<th>Mobile</th>
                        <th>Vehicle</th>
						<th>Start Time</th>
						<th>From</th>
						<th>To</th>
						<th>Via</th>
						<th>Filled</th>
						<th>Action</th>
					</tr>
				</thead>
				<tr ng-repeat="row in cityRides | orderBy : '-time' | filter:searchText">
					<td>{{$index + 1}}</td>
					<td>{{row.city}}</td>
					<td>{{row.offeredby}}</td>
					<td>{{row.email}}</td>
					<td>{{row.phone_number}}</td>
                    <td>{{row.vehicle_type}}</td>
					<td>{{row.time | date: 'medium'}}</td>
					<td>{{row.from_place}}</td>
					<td>{{row.to_place}}</td>
					<td>{{row.via}}</td>
					<td ng-controller="FundooCtrl" white-space="nowrap">
						<div fundoo-rating rating-value="row.currentcount" max="row.maxcount" readonly="true"></div>
					</td>
					<td>
						<input type=text name="push" ng-model="pushMessage" placeholder="I am starting now." ng-minlength="2" ng-required="true">
						<button class="btn btn-primary btn-md" ng-click="NotifyPassengersInRide(row.uuid,pushMessage)">Send Message</button>
					</td>
				</tr>
			</table>
            </div>
		</p>
	</div>
	</center>
</body>

</html>