﻿<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Wipro Rideshaare</title>

    <link href="css/landing-page.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/index.css">

</head>

<body>
    <div ng-controller="RidesCtrl">
        <p id="uuid" ng-show="false">{{uuid}}</p>
        <p id="settings" ng-show="false">{{settings}}</p>
        <p>{{'Welcome ' + fullname}}</p>
        <br>

        <div class="app" ng-show="false">

            <div id="deviceready" class="blink">
                <p class="event listening">Connecting to Device</p>
                <p class="event received">Device is Ready</p>
            </div>
        </div>

        <script type="text/javascript" src="cordova.js"></script>
        <script type="text/javascript" src="js/apigee.js"></script>
        <script type="text/javascript" src="js/PushNotification.js"></script>
        <script type="text/javascript" src="js/index.js"></script>
        <!--        <button onclick="myFunction()">Regsiter For Push Notifications</button> -->
        <script>
            function myFunction() {

                var uuid = document.getElementById("uuid").innerHTML;
                if(!uuid)
                    return;
                console.log("Initializing, uuid=" + uuid);       
//                var settings = document.getElementById("settings").innerHTML;
//                var settingsObject = JSON.parse(settings);
                app.initialize(uuid);                
            }
        </script>
        <br>
        <br>
        <div>
            <a name="about"></a>
            <div class="intro-header">
                <div class="container">

                    <div class="row">
                        <div class="col-lg-18">
                            <div class="intro-message">
                                <h1>RIDESHARE</h1>
                                <h3>A GREEN WAY TO COMMUTE</h3>
                                <hr class="intro-divider">
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container -->

            </div>
            <!-- /.intro-header -->

            <!-- Page Content -->

            <a name="services"></a>
            <div class="content-section-a">

                <div class="container">
                    <div class="row">
                        <div class="col-lg-5 col-sm-6">
                            <hr class="section-heading-spacer">
                            <div class="clearfix"></div>
                            <h2 class="section-heading">Share a ride or get a ride to and from work with fellow Wiproites<br></h2>
                            <p class="lead">Earn green points for redeemable benefits</p>
                        </div>
                        <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                            <img class="img-responsive" src="img/ipad.png" alt="">
                        </div>
                    </div>

                </div>
                <!-- /.container -->

            </div>
            <!-- /.content-section-a -->

            <div class="content-section-b">

                <div class="container">

                    <div class="row">
                        <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                            <hr class="section-heading-spacer">
                            <div class="clearfix"></div>
                            <h2 class="section-heading">Get Push Alerts<br>and subscribe to events </h2>
                            <p class="lead">Subscribe to alerts for rides created for your destinations. Get notified when someone is ready
                                to leave or is delayed. Create notifications to notify passengers with any messages.
                            </p>
                        </div>
                        <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                            <img class="img-responsive" src="img/dog.png" alt="" onload="myFunction()">
                        </div>
                    </div>

                </div>
                <!-- /.container -->

            </div>
            <!-- /.content-section-b -->

            <div class="content-section-a">


            </div>
            <!-- /.content-section-a -->

            <a name="contact"></a>
            <div class="banner">

                <div class="container">

                    <div class="row">
                        <div class="col-lg-6">
                            <h2>Rules</h2>
                        </div>
                        <div class="col-lg-6">
                            <ul class="list-inline banner-social-buttons">
                                <li>
                                    <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">FAQs</span></a>
                                </li>
                                <li>
                                    <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Policy</span></a>
                                </li>
                                <li>
                                    <a href="#" class="btn btn-default btn-lg"><i class="fa fa-fw"></i> <span class="network-name">Contact</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
                <!-- /.container -->

            </div>
            <!-- /.banner -->

            <!-- Footer -->
            <footer>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <ul class="list-inline">
                                <li>
                                    <a href="#">Home</a>
                                </li>
                                <li class="footer-menu-divider">&sdot;</li>
                                <li>
                                    <a href="#about">About</a>
                                </li>
                                <li class="footer-menu-divider">&sdot;</li>
                                <li>
                                    <a href="#services">Services</a>
                                </li>
                                <li class="footer-menu-divider">&sdot;</li>
                                <li>
                                    <a href="#contact">Contact</a>
                                </li>
                            </ul>
                            <p class="copyright text-muted small">Copyright &copy; Your Company 2014. All Rights Reserved</p>
                        </div>
                    </div>
                </div>
            </footer>
        </div>

        <!-- jQuery
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript
    <script src="js/bootstrap.min.js"></script> -->
    </div>
</body>

</html>