﻿<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="css/rating.css">
  <link rel="stylesheet" href="css/offerride.css">
  <link rel="stylesheet" href="css/responsivetable.css">
</head>

<body>
  <center>
    <h1/>MY ACCEPTED RIDES
    <div ng-app="myApp" ng-controller="RidesCtrl">
      <br>
      <br>
      <button class="btn btn-primary btn-md" ng-click="GetMyAcceptedRides(login_email)">RIDES I HAVE ACCEPTED</button>
      <br>
      <br>
      <center/><i ng-show="spinner" class="fa fa-circle-o-notch fa-spin"></i> {{found}}
      <label ng-show="allrides">Sort By:
        <select name="sort" ng-model="data.sortby">
          <option value="offeredby">Name</option>
          <option value="phone_number">Phone</option>
          <option value="time">Start Time</option>
          <option value="from_place">From</option>
          <option value="to_place">To</option>
          <option value="status">Status</option>
          <option value="currentcount">Filled</option>
        </select>

        <label ng-show="allrides">Search in Rides:
          <input ng-model="searchText">
        </label>
        <div class="container">
          <table ng-show="allrides" class="table table-bordered">
            <thead>
              <tr>
                <th>#</th>
                <th>City</th>
                <th>Offered By</th>
                <th>EMail</th>
                <th>Mobile</th>
                <th>Vehicle</th>
                <th>Start Time</th>
                <th>From</th>
                <th>To</th>
                <th>Via</th>
                <th>Filled</th>
                <th>Cancel Ride</th>
              </tr>
            </thead>
            <tr ng-repeat="row in cityRides | orderBy : data.sortby | filter:searchText">
              <td>{{$index + 1}}</td>
              <td>{{row._data.city}}</td>
              <td>{{row._data.offeredby}}</td>
              <td>{{row._data.email}}</td>
              <td>{{row._data.phone_number}}</td>
              <td>{{row.vehicle_type}}</td>
              <td>{{row._data.time | date: 'medium'}}</td>
              <td>{{row._data.from_place}}</td>
              <td>{{row._data.to_place}}</td>
              <td>{{row._data.via}}</td>
              <td ng-controller="FundooCtrl">
                <div fundoo-rating rating-value="row._data.currentcount" max="row._data.maxcount" readonly="true"></div>
              </td>
              <td ng-show="cancel">
                <button class="btn btn-primary btn-md" ng-click="CancelRide(row._data,true)">Cancel Acceptance</button>
              </td>
            </tr>
          </table>
        </div>
          </p>
        </div>
  </center>
</body>

</html>