﻿<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">
  <link rel="stylesheet" href="css/login.css">
  <title>Wipro Rideshare</title>

</head>

<body ng-app="myApp">


  <br>
  <br>
  <div class="container">

    <div id="login">

      <center>
        <form class="form-horizontal" ng-controller="RegisterCtrl" name="myForm">


          <legend>
            <h4/>YOUR INFO
          </legend>
          <br>
          <fieldset class="clearfix">
            <p><span class="fontawesome-user"></span>
              <input type="text" ng-model="login.fullname" value="Full Name" onBlur="if(this.value == '') this.value = 'Full Name'" onFocus="if(this.value == 'Full Name') this.value = ''"
              required>
            </p>
            <p><span class="fontawesome-group"></span>
              <input type="text" ng-model="login.dept" value="Department" onBlur="if(this.value == '') this.value = 'Department'" onFocus="if(this.value == 'Department') this.value = ''"
              required>
            </p>
            <p><span class="fontawesome-envelope"></span>
              <input type="email" ng-model="login.email" value="EMail" onBlur="if(this.value == '') this.value = 'EMail'" onFocus="if(this.value == 'EMail') this.value = ''"
              required>
            </p>
            <!-- JS because of IE support; better: placeholder="Username" -->
            <p><span class="fontawesome-lock"></span>
              <input type="password" ng-model="login.password" value="Password" onBlur="if(this.value == '') this.value = 'Password'" onFocus="if(this.value == 'Password') this.value = ''"
              required>
            </p>
            <p><span class="fontawesome-phone"></span>
              <input type="text" ng-model="login.phone" value="Phone" onBlur="if(this.value == '') this.value = 'Phone'" onFocus="if(this.value == 'Phone') this.value = ''"
              required>
            </p>
            <!-- JS because of IE support; better: placeholder="Password" -->
            <p>
              <input type="button" value="SUBMIT" ng-click="CreateUser(login)">{{result}}
            </p>
            <center/><i ng-show="spinner" class="fa fa-circle-o-notch fa-spin"></i>

          </fieldset>

        </form>
      </center>
    </div>
    <!-- end login -->
    {{result}}
  </div>

</body>

</html>

</body>

</html>